.toy-body {
  margin: 0;
  padding: 0;
  height: 78vh;
  width: 100vw;
  background: #efe5bf;
  position: absolute;
}

.toy-container {
  width: 0vw;
  height: 69vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.toy-container * {
  position: absolute;
}

.kitty-cointainer {
  position: absolute;
  width: 100%;
  text-align: center;
}

.kitty {
  width: 150px;
  margin-top: 29vh;
}

.egg {
  background: #478bed;
  width: 74vw;
  height: 62vh;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  bottom: 0;
  left: 50%;
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
}

.crack {
  background: #ffc02d;
  width: 40vw;
  height: 28vh;
  top: 53%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(
    3% 5%,
    15% 6%,
    28% 0,
    63% 6%,
    80% 0,
    100% 9%,
    95% 22%,
    100% 54%,
    95% 73%,
    96% 96%,
    71% 95%,
    47% 100%,
    28% 93%,
    12% 99%,
    0% 90%,
    6% 76%,
    0 57%,
    5% 28%
  );
  clip-path: polygon(
    3% 5%,
    15% 6%,
    28% 0,
    63% 6%,
    80% 0,
    100% 9%,
    95% 22%,
    100% 54%,
    95% 73%,
    96% 96%,
    71% 95%,
    47% 100%,
    28% 93%,
    12% 99%,
    0% 90%,
    6% 76%,
    0 57%,
    5% 28%
  );
}

.display {
  background: #dde2b1;
  width: 31vw;
  height: 22vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 1vh;
}

.toy-buttons {
  width: 100%;
  text-align: center;
  top: 80%;
}

.toy-button {
  display: inline-block;
  position: relative;
  background: #ffc02d;
  width: 6.8vw;
  height: 4vh;
  border-radius: 50%;
}
.toy-button:not(:last-child) {
  margin-right: 4.5vh;
}
.toy-button:nth-child(2) {
  top: 2vh;
}

.toy-button:hover{
  background: darkorange;
}

.loop {
  width: 3vw;
  height: 3vh;
  border: 2vh #478bed solid;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
}
.tagline {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.catfood {
  position: absolute;
  width: 100px;
  left: 52vw;
  width: 100px;
  top: 20vh;
  transform: rotate(-40deg);
  -webkit-transition-property: transform, opacity; /* Safari */
  -webkit-transition-duration: 2s; /* Safari */
  transition-property: transform, opacity;
  transition-duration: 1s;
  opacity: 0;
  /* opacity: 1; */
}


.wrapper {
	position: absolute;
  top: 42vh;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 200px;
}

.rain {
  width: 82px;
  height: 140px;
}

.drop {
	position: relative;
	float: left;
	width: 2px;
	margin: 10px;
	left: 20px;
	background: #789;
	box-shadow: 1px 0.5px 1px 0.5px rgba(0, 0, 0, 0.75);
  animation: rain 0.8s infinite ease-out;
  /* opacity: 0; */
  display: none;
}

.drop:nth-child(1) {
	height: 15px;
	top: 5px;
	animation-delay: -1.0s;
}

.drop:nth-child(2) {
	height: 20px;
	animation-delay: -1.4s;
}

.drop:nth-child(3) {
	height: 15px;
	top: 5px;
	animation-delay: -1.6s;
}

.drop:nth-child(4) {
	height: 10px;
	top: 10px;
	animation-delay: -1.2s;
}

.drop:nth-child(5) {
	height: 5px;
	top: 15px;
	animation-delay: -1.6s;
}

@keyframes rain {
	0% {
		opacity: 1;
		transform: translate(0, 0);
	}
	100% {
		opacity: 0.2;
		transform: translate(0, 100px);
	}
}

.surface {
	position: relative;
	width: 180px;
	height: 140px;
	top: -140px;
}




@media screen and (min-width: 525px) {
  .egg {
    width: 68vw;
  }
  .toy-button {
    width: 4.8vw;
  }
}

@media screen and (min-width: 601px) {
  .egg {
    width: 57vw;
  }

  .crack {
    width: 34vw;
    height: 28vh;
  }

  .display {
    width: 27vw;
    height: 21vh;
  }
}

@media screen and (min-width: 761px) {
  .egg {
    width: 49vw;
  }
  .crack {
    width: 26vw;
    height: 28vh;
  }

  .display {
    width: 21vw;
    height: 21vh;
  }

  .toy-button {
    width: 4vw;
  }

  .loop {
    border: 20px #478bed solid;
  }
}

@media screen and (min-width: 884px) {
  .egg {
    width: 364px;
  }
  .crack {
    width: 200px;
    height: 186px;
  }
  .display {
    width: 163px;
    height: 148px;
  }
  .toy-button {
    width: 31px;
    height: 31px;
  }
}
